h1{
    color:e09160;
    font-size:large;    
}       
.navbar{
    width: 20%;
    height: 100%;
    background: #3e5966;
    position:fixed;
    left: 0%;
    top: 0%;
    
}
.banner {
margin-left:50%;
}

.page{
    margin-left:20%;
    text-align: center;
    width: 80%;
    
}
.page__left {
    display: flex;
    justify-content: left;
    align-items: center;
}
.page__right {
    display: flex;
    justify-content: left;
    align-items: center;
}
 h1{
    color:e09160;
    font-size:large;    
}       
.navbar{
    width: 20%;
    height: 100%;
    background: #3e5966;
    position:fixed;
    left: 0%;
    top: 0%;
    
}
.banner {
margin-left:50%;
}

.page{
    margin-left:20%;
    text-align: center;
    width: 80%;
    
}
.page__left {
    display: flex;
    justify-content: left;
    align-items: center;
}
.game__thumbnail{
    justify-content: left;
    text-wrap:nowrap;
}
 
.navbar__item{
    list-style-type:none;
}
a:active{
    text-decoration: none;
    color:#e09160;
}
a:visited{
    text-decoration: none;
    color:#e09160;
}
a:hover{
    text-decoration: none;
    color:blue;
}



.navbar__item{
    list-style-type:none;
}
a:active{
    text-decoration: none;
    color:#e09160;
}
a:visited{
    text-decoration: none;
    color:#e09160;
}
a:hover{
    text-decoration: none;
    color:blue;
}






/* ALL GAMES CSS */


.Games_AZ{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left:20%;
    line-height: 1400%;
    z-index: 100;
    font-family: Dedicool;
}

.image_AZ {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left:25%;
    z-index: 100;
    

}

.cover_AZ{
    justify-content: left;
    text-wrap:nowrap;
    z-index: 100;
    
}

.a_z_list{
    margin-left:20%;
    text-align: center;
    width: 80%;
    position: fixed;
    z-index: 1000;
    text-decoration: #e09160;
    background-color: #3e5966;
    height: 40px;
    font-size: xx-large;

}

/* News page */

.newsvid {
    position: absolute;
    top: 5%;
    left: 38%;
    z-index: 1000;
    width: 650px;
}

.news_list{
    margin-left:20%;
    position: absolute;
    text-decoration: #e09160;
    background-color: #3e5966;
    font-size: xx-large;
    top: 50%;
    left: 10%;
    width: 60%;
    height: 50%;


}

.news_list2{
    margin-left:50%;
    text-decoration: #e09160;
    font-size: xx-large;
    top: 50%;
    left: 10%;
    width: 30%;
    height: 40%;
    position: absolute;
    font-size: medium;
    line-height: 1;
    padding: auto;


}



.news_art{
    margin-left:20%;
    position: absolute;
    text-decoration: #e09160;
    font-size: xx-large;
    top: 120%;
    line-height: 100%;

}

