h1{
    color:e09160;
    font-size:large;    
}       
.navbar{
    width: 20%;
    height: 100%;
    background: #3e5966;
    position:absolute;
    left: 0%;
    top: 0%;
    
}
.banner {
margin-left:50%;
}

.page{
    margin-left:20%;
    text-align: center;
    width: 80%;
    
}


.navbar__item{
    list-style-type:none;
}
a:active{
    text-decoration: none;
    color:#e09160;
}
a:visited{
    text-decoration: none;
    color:#e09160;
}
a:hover{
    text-decoration: none;
    color:white;
}
